{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    响应式web设计，自适应浏览器大小#}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="save" content="history">

    {% block title %}
         <title>首页</title>
    {% endblock %}
    {% block link %}
    {% endblock %}

    <link href="{% static 'SitesApp/css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'SitesApp/css/sitesAppCss.css' %}" rel="stylesheet">
{#    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">#}
{#    <script src="https://cdn.bootcss.com/jquery/1.12.0/jquery.min.js"></script>#}
{#    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
   <link href="/static/SitesApp/css/bootstrap.min.css" rel="stylesheet">
    {% block style %}

    {% endblock %}
    <script src="/static/SitesApp/js/jquery.min.js"></script>
    <script src="/static/SitesApp/js/bootstrap.min.js"></script>

    {% block script %}
         <script type="text/javascript"></script>
    {% endblock %}

</head>
<body style="background-color: #E6E6FA;">
<a href="{% url 'sitesApp:vote' 1 %}">hhhhh</a>
<div class="box">
    <div class="header">

        <ul class="nav nav-pills navbar faq-tabbable">
            <li role="presentation" class="active"><a href="{% url 'sitesApp:home' %}">首页</a></li>
            <li role="presentation"><a href="{% url 'sitesApp:vote' 1 %}">投票</a></li>
            <li role="presentation"><a href="{% url 'sitesApp:grade' %}">打分</a></li>
            <li role="presentation"><a href="{% url 'sitesApp:review' %}">回顾</a></li>
            <li role="presentation"><a href="{% url 'sitesApp:blog' %}">博客</a></li>
            <li role="presentation"><a href="{% url 'sitesApp:dataBank' %}">资料</a></li>
            <li role="presentation"><a href="{% url 'sitesApp:forum' %}">论坛</a></li>
            <li role="presentation"><a href="{% url 'sitesApp:mine' %}">我的</a></li>
            <li role="presentation"><a href="{% url 'sitesApp:login' %}">登录</a></li>
            <li role="presentation"><a href="{% url 'sitesApp:register' %}">注册</a></li>

        </ul>
{#         <ul style="list-style: none">#}
{#            <li  ><a href="{% url 'sitesApp:home' %}">首页</a></li>#}
{#            <li ><a href="{% url 'sitesApp:vote' 1 %}">投票</a></li>#}
{#            <li ><a href="{% url 'sitesApp:shareNav' %}">打分</a></li>#}
{#            <li ><a href="{% url 'sitesApp:review' %}">回顾</a></li>#}
{#            <li><a href="{% url 'sitesApp:blog' %}">博客</a></li>#}
{#            <li ><a href="{% url 'sitesApp:dataBank' %}">资料</a></li>#}
{#            <li ><a href="{% url 'sitesApp:forum' %}">论坛</a></li>#}
{#            <li ><a href="{% url 'sitesApp:mine' %}">我的</a></li>#}
{#            <li ><a href="{% url 'sitesApp:login' %}">登录</a></li>#}
{#            <li ><a href="{% url 'sitesApp:register' %}">注册</a></li>#}
{##}
{#        </ul>#}
    </div>
    <div class="time" >
         <span id="mytime"></span>
    </div>
    <div class="content" style="position: relative;">
        {% block content %}
            请填充内容
        {% endblock %}

    </div>
    <div class="footer">
        {% block footer %}
            开发者 LDC
        {% endblock %}

    </div>
</div>
<script type="text/javascript">
    $(function () {

    　　$(".faq-tabbable").find("li").each(function () {

    　　　　var a = $(this).find("a:first")[0];
    　　　　 if ($(a).attr("href") === location.pathname) {
    　　　　　　$(this).addClass("active");
    　　　　} else {
    　　　　　　 $(this).removeClass("active");
    　　　　}
    　　});
    });
    function showTime(){
            nowtime=new Date();
            year=nowtime.getFullYear();
            month=nowtime.getMonth()+1;
            date=nowtime.getDate();
            document.getElementById("mytime").innerText=year+"年"+month+"月"+date+" "+nowtime.toLocaleTimeString();
        }

        <!--定时刷新时间-->
        setInterval("showTime()",1000);
</script>

</body>
</html>