{% extends 'SitesApp/base.html' %}
{% block title %}
    <title>事项办理</title>
{% endblock %}
{% block style %}
    <link href="/static/SitesApp/css/review.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="main">
        <ul>
            <li class="items">
                <h2 style="display: inline-block">已办事项</h2>
                <button id="archive" value="" title="查看归档事项">归档事项</button>
                <div class="itemsdiv alreadyRe">
                    {% for content in contents %}
                        {% ifequal content.rRemark 0 %}
                            <button type="button" class="list-group-item topic" data-toggle="modal"
                                    data-target="#exampleModal"
                                    data-topic="{{ content.rTopic }}"
                                    data-remark="0"
                                    data-type="modify"
                                    data-id="{{ content.id }}"
                                    data-rimpo="{{ content.rImpo }}"
                                    data-url="{% url 'SitesApp:review' %}"
                                    data-body="{{ content.rContent }}"
                                    title="{{ content.rTopic }}">
                                (<span class="showTime">{{ content.rmDateTime }}</span>
                                {% ifequal  content.rImpo  0 %},一般){% endifequal %}
                                {% ifequal  content.rImpo  1 %},重要){% endifequal %}
                                {% ifequal  content.rImpo  2 %},紧急){% endifequal %}
                                {{ content.rTopic }}
                            </button>
                            <button type="button" class="list-group-item alredayFin" title="设置成待办事项"
                                    onclick="changeRemark(1,{{ content.id }})">
                                重办
                            </button>
                            <button type="button" class="list-group-item alredayFin" title="设置成归档事项"
                                    onclick="changeRemark(3,{{ content.id }})">
                                归档
                            </button>
                        {% endifequal %}
                    {% endfor %}

                </div>
                <div class="itemsdiv fileRe" style="display: none">
                    {% for content in contents %}
                        {% ifequal content.rRemark 3 %}
                            <button type="button" class="list-group-item topic topic" data-toggle="modal"
                                    data-target="#exampleModal"
                                    data-topic="{{ content.rTopic }}"
                                    data-remark="3"
                                    data-type="modify"
                                    data-id="{{ content.id }}"
                                    data-rimpo="{{ content.rImpo }}"
                                    data-url="{% url 'SitesApp:review' %}"
                                    data-body="{{ content.rContent }}"
                                    title="{{ content.rTopic }}">
                                (<span class="showTime">{{ content.rmDateTime }}</span>
                                {% ifequal  content.rImpo  0 %},一般){% endifequal %}
                                {% ifequal  content.rImpo  1 %},重要){% endifequal %}
                                {% ifequal  content.rImpo  2 %},紧急){% endifequal %}
                                {{ content.rTopic }}
                            </button>
                            <button type="button" class="list-group-item alredayFin" title="取消归档"
                                    onclick="changeRemark(0,{{ content.id }})">
                                取消
                            </button>
                        {% endifequal %}
                    {% endfor %}

                </div>

            </li>
            <li class="items">
                <h2>待办事项</h2>
                <div class="itemsdiv">
                    <button type="button" class="list-group-item add topic" data-toggle="modal" data-target="#exampleModal"
                            data-remark="1" data-type="add" data-url="{% url 'SitesApp:review' %}" data-rimpo="0"
                            title="添加待办事项">添加
                    </button>
                    {% for content in contents %}
                        {% ifequal content.rRemark 1 %}
                            <button type="button" class="list-group-item topic topic" data-toggle="modal"
                                    data-target="#exampleModal"
                                    data-topic="{{ content.rTopic }}"
                                    data-remark="1"
                                    data-type="modify"
                                    data-id="{{ content.id }}"
                                    data-rimpo="{{ content.rImpo }}"
                                    data-url="{% url 'SitesApp:review' %}"
                                    data-body="{{ content.rContent }}"
                                    title="{{ content.rTopic }}">
                                (<span class="showTime">{{ content.rmDateTime }}</span>
                                {% ifequal  content.rImpo  0 %},一般){% endifequal %}
                                {% ifequal  content.rImpo  1 %},重要){% endifequal %}
                                {% ifequal  content.rImpo  2 %},紧急){% endifequal %}
                                {{ content.rTopic }}
                            </button>
                            <button type="button" onclick="changeRemark(0,{{ content.id }})"
                                    class="list-group-item alredayFin" title="设置成已办事项">已办
                            </button>
                        {% endifequal %}

                    {% endfor %}

                </div>
            </li>
            <li class="items">
                <h2>远期计划</h2>
                <div class="itemsdiv">
                    <button type="button" class="list-group-item add topic" data-toggle="modal" data-target="#exampleModal"
                            data-remark="2" data-type="add" data-url="{% url 'SitesApp:review' %}" data-rimpo="0"
                            title="添加远期计划">添加
                    </button>
                    {% for content in contents %}
                        {% ifequal content.rRemark 2 %}
                            <button type="button" class="list-group-item topic" data-toggle="modal"
                                    data-target="#exampleModal"
                                    data-topic="{{ content.rTopic }}"
                                    data-remark="2"
                                    data-type="modify"
                                    data-id="{{ content.id }}"
                                    data-rimpo="{{ content.rImpo }}"
                                    data-url="{% url 'SitesApp:review' %}"
                                    data-body="{{ content.rContent }}"
                                    title="{{ content.rTopic }}">

                                (<span class="showTime">{{ content.rmDateTime }}</span>
                                {% ifequal  content.rImpo  0 %},一般){% endifequal %}
                                {% ifequal  content.rImpo  1 %},重要){% endifequal %}
                                {% ifequal  content.rImpo  2 %},紧急){% endifequal %}
                                {{ content.rTopic }}
                            </button>
                            <button type="button" class="list-group-item alredayFin" title="设置成待办事项"
                                    onclick="changeRemark(1,{{ content.id }})">
                                待办
                            </button>
                            <button type="button" class="list-group-item alredayFin" title="取消计划"
                                    onclick="changeRemark(4,{{ content.id }})">
                                取消
                            </button>
                        {% endifequal %}
                    {% endfor %}

                </div>
            </li>
        </ul>
    </div>
    {% include 'SitesApp/includeModal.html' %}
{% endblock %}
{% block script %}
    {{ block.super }}
    <script src='/static/tiny_mce/tiny_mce.js'></script> 
    <script src="/static/SitesApp/js/jquery-form.js"></script>
    <script src='/static/SitesApp/js/reviewJs.js'></script>
    <script type="text/javascript">
        $(function ($) {
            {#第一次按下归档事项按钮显示归档事项，第二次按下显示已办事项#}
            var archiveBtnFlag = false;
            showTimeMode();
            itemsMode();

            $('#archive').click(function () {
                {#已办事项#}
                if (archiveBtnFlag) {
                    $(this).prev().html('已办事项');
                    $(this).html('归档事项').attr('title','查看归档事项');
                    $('.fileRe').css('display', 'none');
                    $('.alreadyRe').css('display', 'block');
                    archiveBtnFlag = false;
                } else {
                    {#归档事项#}
                    archiveBtnFlag = true;
                    $(this).prev().html('归档事项');
                    $(this).html('已办事项').attr('title','查看已办事项');
                    $('.fileRe').css('display', 'block');
                    $('.alreadyRe').css('display', 'none');

                }
                itemsMode();
            })
        });
        {#事项类型改变事件#}
        function changeRemark(rid, id) {
            var url = "{% url 'SitesApp:review' %}";
            $.ajax({
                type: "POST",
                url: url,
                data: {"id": id, "remark": rid, "changeRemark": rid},
                dataType: "json",
                success: function (res) {
                    {#alert(res['ret']);#}
                    window.location.href = url;
                }
            });
        }

        function itemsMode() {
            {#格式化列表，如果列表中没有事项，就显示暂无事项#}
            var lis = $(".items");

            var len;
            for (var i = 0; i < lis.length; i++) {
                len = $(lis[i]).find(".topic").length;

                 {#alert('lis[i].length '+i+'len '+len);#}
                if (len === 0) {
                    lis[i].getElementsByTagName("div")[0].innerHTML = '<span type="button" class="list-group-item add" >暂无</span>'
                } else if (len > 8) {

                    {#lis[i].getElementsByTagName("div")['height'] = '300px';#}
                    {#lis[i].getElementsByTagName("div")['overflow'] = 'auto';#}
                    $(lis[i]).find(".itemsdiv").css('height', '400px').css('overflow', 'auto');
                }else {

                    $(lis[i]).find(".itemsdiv").css('height', 'auto');
                }
            }
            var alreadyRe = $('.alreadyRe');
            if (alreadyRe.find('button').length === 0) {
                alreadyRe.html('<span type="button" class="list-group-item add" >暂无</span>');
            }
            var fileRe = $('.fileRe');
            if (fileRe.find('button').length === 0) {
                fileRe.html('<span type="button" class="list-group-item add" >暂无</span>');
            }
        }

        {#显示时间格式#}
        function showTimeMode() {
            {#格式化时间，显示为刚发表、几小时前，几天前#}
            var showTIme = document.getElementsByClassName("showTime");
            var ret;
            for (var i = 0; i < showTIme.length; i++) {
                ret = diaplayTime(showTIme[i].textContent);
                showTIme[i].innerHTML = ret;
            }
        }

        {#时间格式整理#}

        function diaplayTime(data) {
            data = data.replace(/年/, "/");
            data = data.replace(/月/, "/");
            data = data.replace(/日/, "/");
            var str = data;
            //将字符串转换成时间格式
            var timePublish = new Date(str);

            var timeNow = new Date();
            var minute = 1000 * 60;
            var hour = minute * 60;
            var day = hour * 24;
            var month = day * 30;
            var diffValue = timeNow - timePublish;
            var diffMonth = diffValue / month;
            var diffWeek = diffValue / (7 * day);
            var diffDay = diffValue / day;
            var diffHour = diffValue / hour;
            var diffMinute = diffValue / minute;
            {#alert(diffDay);#}

            if (diffValue < 0) {
                alert("错误时间");
            }
            else if (diffMonth > 3) {
                result = timePublish.getFullYear() + "-";
                result += timePublish.getMonth() + "-";
                result += timePublish.getDate();
                {#alert(result);#}
            }
            else if (diffMonth > 1) {
                result = parseInt(diffMonth) + "月前";
            }
            else if (diffWeek > 1) {
                result = parseInt(diffWeek) + "周前";
            }
            else if (diffDay > 1) {
                result = parseInt(diffDay) + "天前";
            }
            else if (diffHour > 1) {
                result = parseInt(diffHour) + "小时前";
            }
            else if (diffMinute > 1) {
                result = parseInt(diffMinute) + "分钟前";
            }
            else {
                result = "刚发表";
            }
            return result;
        }

    </script>
{% endblock %}